@font-face {
    font-family: Montserrat-bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: Montserrat-light;
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: Montserrat-regular;
    src: url("../fonts/MOntserrat-Regular.ttf");
}