.first-section{
    height: 1012px;
    background-image: url("../img/backgrounds/section1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.logo{
    background-image: url("../img/other/logo.png");
    width: 197px;
    height: 67px;
    margin-top: 28px;
    margin-bottom: 25px;
}
header{
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.33);
}
.main-menu{
    display: flex;
    align-content: space-between;
    margin-top: 56px;
    margin-bottom: 0;
    padding: 0;
}
.main-menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat-bold, sans-serif;
}
.main-menu a:hover{
    color: #18cfab;
    padding-bottom: 48px;
    border-bottom: #18cfab 2px solid;
    transition: 0.7s;
}
li{
    list-style: none;
    padding-right: 17px;
    font-size: 13px;
}
.search{
    position: relative;
    bottom: 3px;
    font-size: 15px;
}
.ham-title1{
    font-family: Montserrat-bold, sans-serif;
    color: white;
    margin-bottom: 0;
    margin-top: 246px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}
.title1-span{
    color: #18cfab;
}
.ham-title2{
    font-family: Montserrat-bold, sans-serif;
    font-size: 77px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 0;
}
.ham-title3{
    font-family: Montserrat-light, sans-serif;
    font-size: 33px;
    color: white;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 0;
}
.buttons-sect1{
    display: flex;
    justify-content: center;
}
.head-button{
    width: 166px;
    height: 61px;
    margin-top: 146px;
    margin-right: 28px;
    text-transform: uppercase;
    font-family: Montserrat-bold, sans-serif;
    font-size: 12px;
    padding: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 5px;
    border-radius: 5%;
    color: white;
}
.head-button:hover{
    border-top: none;
    cursor: pointer;
}
.head-button1{
    background-color: #18cfab;
}
.head-button2{
    background-color: #00cbf6;
}
.description-of-ham{
    display: flex;
}
.d-item{
    width: 480px;
    height: 381px;
    box-sizing: border-box;
}
.item1{
    background-color: #1c2a33;
    background-image: url("../img/other/description1.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    border-top: 7px solid #18cfab;
}
.item2{
   background-color: #18cfab;
    background-image: url("../img/other/description2.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    border-top: 7px solid white;
}
.item3{
    background-color: #1c2a33;
    background-image: url("../img/other/descriotion3.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    border-top: 7px solid #18cfab;
}
.item4{
    background-color: #18cfab;
    background-image: url("../img/other/descriotion4.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    border-top: 7px solid white;
}
.desc-of-item{
    margin-top: 240px;
    font-family: Montserrat-bold, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #18cfab;
}
.desc-of-item span{
    color: white;
}
.services-title{
    margin-top: 82px;
    font-family: Montserrat-regular, sans-serif;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 37px;
}
.line1{
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin-bottom: 3px;
    margin-left: 48%;
}
.line2{
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin-left: 48.5%;
}
.active-service{
    color: white;
    background-color: #18cfab;
}
.as-menu{
    background-image: url("../img/our services/arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 87px;
}
.services{
    display: flex;
    margin-top: 70px;
    margin-left: 20%;
}
.menu-of-service:hover{
    background-color: #18cfab;
    transition: 0.7s;
    color: white;
    border-top: 0;
    border-bottom: 0;
}
.pb{
    border: 1px solid #ebebeb;
    box-sizing: content-box;
}
.menu-of-service{
    font-family: Montserrat-regular, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin: 0;
}
.pp1{
     padding: 27px 48px 30px;
}
.pp2{
    padding: 27px 35px 30px;
}
.pp3{
    padding: 27px 34px 30px;
}
.pp4{
    padding: 27px 42px 30px;
}
.pp5{
    padding: 27px 28px 30px;
}
.pp6{
    padding: 27px 42px 30px 43px;
}
.desc-of-service{
    height: 139px;
    display: flex;
    margin: 14px 20% 101px 20%;
}
.service-img{
    margin-right: 20px;
    border: #4e4e4e 1px solid;
}
.text-of-service{
    display: flex;
    font-size: 15px;
    font-family: Montserrat-light, sans-serif;
    color: #777777;
    text-align: justify;
    margin: 0;
    line-height: 135%;
}
.desc-of-service2{
    display: none;
}
.desc-of-service3{
    display: none;
}
.desc-of-service4{
    display: none;
}
.desc-of-service5{
    display: none;
}
.desc-of-service6{
    display: none;
}
.everything-is-read{
    height: 476px;
    background-image: url("../img/backgrounds/section21.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 0;
}
.every-main-title{
    font-family: Montserrat-bold, sans-serif;
    text-transform: uppercase;
    font-size: 39px;
    text-align: center;
    color: #18cfab;
    padding-top: 128px;
    margin: 0;
}
.every-text{
    font-family: Montserrat-regular, sans-serif;
    font-size: 16px;
    color: #d8d8d8;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 76px;
}
.every-button{
    width: 166px;
    height: 61px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: Montserrat-bold, sans-serif;
    font-size: 12px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 5px;
    border-radius: 5%;
    color: white;
    background-color: #18cfab;
    cursor: pointer;
}
.every-button:hover{
    border: 0;
    transition: 0.7s;
}
.our-amazing-work{
    height: auto;
    border-bottom: #c0c0c0 1px solid;
    margin-bottom: 84px;
    background-color: #f8fcfe;
    overflow: hidden;
}
.amazing-work-title{
    margin-top: 96px;
    font-family: Montserrat-regular, sans-serif;
    color: #4e4e4e;
    text-align: center;
    font-size: 33px;
    margin-bottom: 26px;
}
.loader{
     display: inline;
}
.loader2{
    display: inline;
}
.gooey{
    width: 142px;
    height: 40px;
    filter: contrast(20);
    display: none;
}
.dot{
    position: absolute;
    width: 13px;
    height: 13px;
    top: 12px;
    left: 15px;
    background: #ffffff;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 1s infinite;
}
.dots{
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 1s infinite;
}
.dots span {
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin-left: 16px;
    background: #ffffff;
    border-radius: 50%;
    margin-top: 12px;
}
@keyframes dot {
    50% {transform: translateX(96px)}
}
@keyframes dots {
    50% {transform: translateX(-31px)}
}
.grid{
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    width: 1140px;
    padding-top: 70px;
}
.types-of-work{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 70px 0 0;
}
.work-button{
    text-decoration: none;
    list-style: none;
    padding: 22px 25px;
    border: 1px solid #ebebeb;
    font-family: Montserrat-regular, sans-serif;
    color: #717171;
    font-size: 14px;
    cursor: pointer;
}
.active{
    border-top: 2px solid #18cfab;
    color: #18cfab;
    transition: 0.7s;
}
.work-button:hover{
    border-top: 2px solid #18cfab;
    color: #18cfab;
    transition: 0.7s;
}
.block{
    width: 285px;
    height: 207px;
    position: relative;
}
.example-of-work1{
    background-image: url("../img/our amazing work/added1-1.png");
    background-size: cover;
}
.example-of-work2{
    background-image: url("../img/our amazing work/added1-2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 45%;
}
.example-of-work3{
    background-image: url("../img/our amazing work/added1-3.png");
    background-size: 100%;
}
.example-of-work4{
    background-image: url("../img/our amazing work/added1-4.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 45%;
}
.example-of-work5{
    background-image: url("../img/our amazing work/added1-5.png");
    background-size: cover;
    background-position: 40%;
}
.example-of-work6{
    background-image: url("../img/our amazing work/added1-6.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work7{
    background-image: url("../img/our amazing work/added1-7.png");
}
.example-of-work8{
    background-image: url("../img/our amazing work/added1-8.png");
    background-size: 100%;
}
.example-of-work9{
    background-image: url("../img/our amazing work/added1-9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}
.example-of-work10{
    background-image: url("../img/our amazing work/added1-10.png");
}
.example-of-work11{
    background-image: url("../img/our amazing work/added1-11.png");
}
.creative-design{
    border-top: #18cfab 3px solid;
}
.creative-img{
    padding: 13px;
    border: #18cfab 1px solid;
    border-radius: 50%;
    margin-right: 5px;
}
.searcher-cr{
    color: white;
    background-color: #18cfab;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;
}
.fa-search{
    margin-bottom: 10px;
}
.creative-settings{
    display: flex;
    justify-content: center;
    margin-top: 43px;
}
.creative-design p:nth-child(2){
    font-family: Montserrat-bold, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 0;
    color: #18cfab;
}
.creative-design p:nth-child(3){
    font-family: Montserrat-light, sans-serif;
    font-size: 13px;
    color: #535353;
    text-align: center;
    margin-top: 15px;
}
.load-more, .add3{
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border: none;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat-bold, sans-serif;
    display: flex;
    margin-top: 71px;
    text-align: center;
    justify-content: space-around;
    margin-left: 46%;
    cursor: pointer;
    margin-bottom: 100px;
    padding: 0;
}
.load-more:hover{
    border-top: 2px solid #1c2a33;
}
.example-of-work1-1{
    background-image: url("../img/our amazing work/added2-1.jpg");
}
.example-of-work2-2{
    background-image: url("../img/our amazing work/added2-2.png");
}
.example-of-work3-3-2{
    background-image: url("../img/our amazing work/added2-3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work4-4{
    background-image: url("../img/our amazing work/added2-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work5-5{
    background-image: url("../img/our amazing work/added2-5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work6-6{
    background-image: url("../img/our amazing work/added2-6.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work7-7{
    background-image: url("../img/our amazing work/added2-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work8-8{
    background-image: url("../img/our amazing work/added2-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work9-9{
    background-image: url("../img/our amazing work/added2-9.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work10-10{
    background-image: url("../img/our amazing work/added2-10.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work11-11{
    background-image: url("../img/our amazing work/added2-11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work12-12{
    background-image: url("../img/our amazing work/added2-12.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work3-1{
    background-image: url("../img/our amazing work/gd1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-2{
    background-image: url("../img/our amazing work/gd2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-3{
    background-image: url("../img/our amazing work/gd3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-4{
    background-image: url("../img/our amazing work/lp1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-5{
    background-image: url("../img/our amazing work/lp2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work3-6{
    background-image: url("../img/our amazing work/lp3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-7{
    background-image: url("../img/our amazing work/wd1.png");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.example-of-work3-8{
    background-image: url("../img/our amazing work/wd2.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-9{
    background-image: url("../img/our amazing work/wd3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.example-of-work3-10{
    background-image: url("../img/our amazing work/wordp1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work3-11{
    background-image: url("../img/our amazing work/wordp2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.example-of-work3-12{
    background-image: url("../img/our amazing work/wordp3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.off1{
    display: none;
}
.off{
    display: none;
}
.breaking-news{
    margin-bottom: 87px;
}
.bn-title{
    font-family: Montserrat-regular, sans-serif;
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    margin-bottom: 30px;
}
.block-of-news{
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    flex-flow: wrap;
    display: flex;
    margin: 70px 20% 45px;
}
.block-of-news a{
    text-decoration: none;
}
.news-item{
    width: 263px;
    height: 280px;
}
.news-item:hover .date-of-news{
    background-color: #18cfab;
    transition: 0.7s;
}
.news-item:hover .title-of-news{
    color: #18cfab;
    transition: 0.7s;
}
.signboard1{
    background-image: url("../img/breaking news/news1.png");
    width: 263px;
    height: 208px;

}
.signboard2{
    background-image: url("../img/breaking news/news2.png");
    width: 263px;
    height: 208px;
    box-sizing: border-box;
}
.signboard3{
    background-image: url("../img/breaking news/news3.png");
    width: 263px;
    height: 208px;
}
.signboard4{
    background-image: url("../img/breaking news/news4.png");
    width: 263px;
    height: 208px;
}
.signboard5{
    background-image: url("../img/breaking news/news5.png");
    width: 263px;
    height: 208px;
}
.signboard6{
    background-image: url("../img/breaking news/news6.png");
    width: 263px;
    height: 208px;
}
.signboard7{
    background-image: url("../img/breaking news/news7.png");
    width: 263px;
    height: 208px;
}
.signboard8{
    background-image: url("../img/breaking news/news8.png");
    width: 263px;
    height: 208px;
}
.section-of-news-title{
    background-color: #f8fcfe;
    border-left: #ececec 1px solid;
    border-right: #ececec 1px solid;
    border-bottom: #ececec 1px solid;
    width: 263px;
    height: 72px;
    box-sizing: border-box;
}
.title-of-news{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat-bold, sans-serif;
    color: #717171;
    font-size: 18px;
    padding-top: 14px;
    margin-left: 13px;
}
.info-about-news{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Montserrat-light, sans-serif;
    color: #717171;
    font-size: 14px;
    margin-left: 13px;
}
.info-about-news span{
    padding-left: 11px;
    padding-right: 11px;
}
.date-of-news{
    width: 69px;
    height: 66px;
    background-color: #203e38;
    color: white;
    font-family: Montserrat-regular, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-left: 74%;
}
.day{
    margin-bottom: 0;
    padding-top: 15px;
}
.month{
    margin: 0;
}
.what-people-say{
    height: 851px;
    background-image: url("../img/backgrounds/section3.jpg");
    background-attachment: fixed;
    margin-bottom: 98px;
    background-position: 0 48%;
}
.what-people-tittle{
    padding-top: 98px;
    margin-bottom: 31px;
    font-family: Montserrat-regular, sans-serif;
    font-size: 36px;
    color: white;
    text-align: center;
}
.quotes{
    width: 44px;
    height: 30px;
    background-image: url("../img/other/quotes.png");
    margin-top: 69px;
    margin-left: 49%;
}
.citation{
    margin-top: 44px;
    margin-bottom: 43px;
    font-family: Montserrat-light, sans-serif;
    font-size: 16px;
    color: #bbbbbb;
    text-align: center;
    width: 1100px;
    line-height: 185%;
    margin-left: 23%;
}
.name-position{
    margin: 0 auto;
}
.name-of-person{
    font-family: Montserrat-bold, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #18cfab;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.position-of-person{
    font-family: Montserrat-light, sans-serif;
    font-size: 15px;
    color: #bbbbbb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 27px;
}
.active-photo-of-person{
    width: 164px;
    height: 163px;
    margin: 0 auto;
}
.person1-photo{
     background-image: url("../img/what People Say About theHam/person1-l.png");
}
.person2-photo{
    background-image: url("../img/what People Say About theHam/person2-l.png");
}
.person3-photo{
    background-image: url("../img/what People Say About theHam/person3-l.png");
}
.person4-photo{
    background-image: url("../img/what People Say About theHam/person4-l.png");
}
.person1{
    visibility: visible;
    -webkit-animation: person1 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: person1 0.5s forwards;
    transition: 2s;
    display: none
}
@-webkit-keyframes person1{
    100% { visibility: visible }
}
@keyframes person1 {
    100% { visibility: visible }
}
.person2{
    display: none;
}
.person3{
    display: block;
}
.person4{
    display: none;
    transition: 1s;
}
.slider-of-person{
    display: flex;
    justify-content: center;
    margin-top: 54px;
    align-items: center;
}
.slide-left{
    color: white;
    padding: 9px;
    border: 1px solid white;
    width: 13px;
    text-align: center;
    font-size: 9px;
    margin-right: 30px;
    cursor: pointer;
}
.slide-left:hover{
    background-color: #18cfab;
    border: #18cfab;
    transition: 0.8s;
}
.slide-right{
    color: white;
    padding: 9px;
    border: 1px solid white;
    width: 13px;
    text-align: center;
    font-size: 9px;
    cursor: pointer;
}
.slide-right:hover{
    background-color: #18cfab;
    border: #18cfab;
    transition: 0.8s;
}
.person1-slider{
    background-image: url("../img/what People Say About theHam/person1.png");
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
}
.person1-slider:hover{
    background-image: url("../img/what People Say About theHam/person1-l-s.png");
    transition: 0.5s;
    padding-bottom: 14px;
}
.person2-slider{
    background-image: url("../img/what People Say About theHam/person2.png");
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
}
.person2-slider:hover{
    background-image: url("../img/what People Say About theHam/person2-l-s.png");
    transition: 0.5s;
    padding-bottom: 14px;
}
.person3-slider{
    background-image: url("../img/what People Say About theHam/person3.png");
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
}
.person3-slider:hover{
    background-image: url("../img/what People Say About theHam/person3-l-s.png");
    transition: 0.5s;
    padding-bottom: 14px;
}
.person4-slider{
    background-image: url("../img/what People Say About theHam/person4.png");
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    padding-right: 30px;
    cursor: pointer;
}
.person4-slider:hover{
    background-image: url("../img/what People Say About theHam/person4-l-s.png");
    transition: 0.5s;
    padding-bottom: 14px;
}
.person1-slider-active{
    background-image: url("../img/what People Say About theHam/person1-l-s.png");
    padding-bottom: 14px;
    cursor: pointer;
}
.person2-slider-active{
    background-image: url("../img/what People Say About theHam/person2-l-s.png");
    padding-bottom: 14px;
    cursor: pointer;
}
.person3-slider-active{
    background-image: url("../img/what People Say About theHam/person3-l-s.png");
    padding-bottom: 14px;
    cursor: pointer;
}
.person4-slider-active{
    background-image: url("../img/what People Say About theHam/person4-l-s.png");
    padding-bottom: 14px;
    cursor: pointer;
}
.gallery-title{
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    color: #4e4e4e;
    font-family: Montserrat-regular, sans-serif;
    margin-bottom: 26px;
}
.gallery{
    margin-top: 75px;
    margin-left: 20%;
    margin-right: 20%;
}
.gallery-load-more{
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border: none;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat-bold, sans-serif;
    display: flex;
    margin-top: 67px;
    text-align: center;
    justify-content: space-around;
    margin-left: 46%;
    cursor: pointer;
    margin-bottom: 82px;
    padding: 0;
}
.gallery-load-more:hover{
    border-top: 2px solid #1c2a33;
}
footer{
    margin-bottom: 11px;
    background-color: #22353f;
    height: 108px;
}
footer p{
    font-family: Montserrat-light, sans-serif;
    font-size: 13px;
    text-align: center;
    color: white;
    padding-top: 47px;
    margin: 0;
}
footer p span{
    color: #18cfab;
}
